<log4net>

    <appender name= "textfile" type="log4net.Appender.RollingFileAppender">
        <file value="D:\\Temo\\Log4Net\\"/>
        <datePattern value="yyyy-MM-dd'.txt'" />
        <appendedToFile value="true" />
        <rollingStyle value="Composite" />
        <maxiSizeRollBackups value="5" />
        <maximumFileSize value="25MB" />
        <staticLogFileName value="false" />
        <layout type="log4net.layout.Patternlayout">
            <conversationPattern value="%d{yyyy-MM-dd hh:mm:ss.ffff} %level %logger %method %line - %message%newline" />
        </layout>
    <appender />
    <root>
        <level value="ALL" />
        <appender-ref ref="textfile"/>
    <root />    
</log4net>